<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <title>Forecast Voronina IVT-363</title>
  </head>
  <body>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="myfile">
      <p><input type="checkbox" name="option" value="1">Наивный Байес</p>
      <p><input type="checkbox" name="option" value="0">Случайный лес</p>
      <button type="submit">Прогнозирование</button>
    </form>
    {% if uploaded_file_url %}
      <p>Файл успешно загружен</p>
      {% if option == '0' %}
        <p>Случайный лес</p>
      {% endif %}
      {% if option == '1' %}
        <p>Наивный Байес</p>
      {% endif %}
      <img src="{% static "img/forecast.png" %}">
    {% endif %}
  </body>
</html>
